<html>
  <ul>
    <% msgs.forEach((msg) => { %>

    <li><%= msg.from_uuid %>: <%= msg.message %></li>

    <% }); %>
  </ul>

  <form action="/api/send_message/<%= user %>/<%= other %>" method="post">
    Message: <input name="msg" />
    <p>
      <input type="submit" value="Send message." />
    </p>
  </form>

  <% var rand = Math.floor(Math.random() * 900000000) + 100000000; %> <% var
  link = 'https://appr.tc/r/' + rand; %>
  <form action="/api/send_message/<%= user %>/<%= other %>" method="post">
    <input
      name="msg"
      type="submit"
      value="Open <%= link %> to join me on video."
    />
  </form>

  <a href="/chats/<%= user %>">Back to My Chats</a>
</html>
